@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}
$colorShadow: #303658;
$colorPink: #b25aba;

body {
    width: 100%;
    min-height: 100vh;
    background: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3vw;
}

@mixin forWrapper {
    background: #fff;
    box-shadow: -2.3px 2.3px 0.6px rgba($colorShadow, 0.018),
        -5.4px 5.4px 1.4px rgba($colorShadow, 0.026),
        -9.7px 9.7px 2.6px rgba($colorShadow, 0.032),
        -16.1px 16.1px 4.3px rgba($colorShadow, 0.038),
        -26.5px 26.5px 7.1px rgba($colorShadow, 0.044);
    border: 0.5px solid rgba($colorShadow, 0.1);
}
@mixin forWrapperBottom {
    content: '';
    height: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.wrapper {
    @include forWrapper();
    width: 70%;
    height: auto;
    position: relative;
    margin: 40px 0 40px+20px;

    &::after {
        @include forWrapper();
        @include forWrapperBottom();
        width: 98%;
        bottom: -10px;
        z-index: -1;
    }
    &::before {
        @include forWrapper();
        @include forWrapperBottom();
        width: 96%;
        bottom: -20px;
        z-index: -2;
    }
}

.add__item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 2.1vw;
    padding: 30px;
    border-bottom: 2px solid rgba($colorShadow, 0.4);

    .add__item__input {
        width: 100%;
        margin: 0 20px;
        display: flex;
        align-items: center;
        position: relative;

        & > input {
            width: 100%;
            font-size: 0.9em;
            border: none;
            border-bottom: 1px solid rgba($colorShadow, 0.4);
            outline: none;
            transition: all 0.15s;

            &:focus, &:not(:invalid) {
                border-bottom: 1px solid rgba($colorPink, 0.4);
                
                & + .forInputItem {
                    font-size: 0.5em;
                    top: -10px;
                    color: $colorPink;
                }
            }
        }

        .forInputItem {
            position: absolute;
            left: 2px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 0.9em;
            transition: all 0.15s;
        }
    }

    .add__item__btn {
        background: $colorPink;
        color: #fff;
        font-size: 1.6vw;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

.item {
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    border-bottom: 0.1px solid rgba($colorShadow, 0.4);

    .item__check {
        width: 30px;
        height: 30px;
        border: 1px solid rgba(#111, 0.4);
        border-radius: 100%;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        & > i {
            display: none;
            // color: $colorPink;
        }

        &.active {
            background: #00ff11;
            border: none;

            & > i {
                display: block;
            }

            & + .item__name {
                text-decoration: line-through;
                opacity: 0.7;
            }
        }
        
        
    }

    .item__name {
        font-size: 1.3em;
    }

    .item__del {
        position: absolute;
        right: 30px;
        font-size: 1.5em;
        display: none;
        cursor: pointer;
    }

    &:hover {
        .item__del {
            display: block;
        }
    }
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vw;
    padding: 30px;
    border-top: 1.5px solid rgba($colorShadow, 0.4);

    .navigation__bar {
        display: flex;
        flex-direction: row;

        .navigation__bar__item {
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            
            &.active {
                border: 1px solid rgba($colorShadow, 0.4);
                color: $colorPink;
            }

            &:hover {
                color: $colorPink;
            }
        }

        .navigation__bar__active {
            margin: 0 10px;
        }
    }

    .navigation__clear {
        background: $colorPink;
        color: #fff;
        font-size: 1.6vw;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}